<section class="back-one mx-auto max-w-screen-x2 pb-8 px-4 p-8 h-[400px] items-center lg:flex md:px-9 min-[220px]:h-[900px] min-[320px]:h-[820px] min-[640px]:h-[600px]  min-[768px]:h-[500px] min-[801px]:h-[400px] min-[1024px]:h-[400px] bg-slate-200">
    <div class="container p-8 mx-auto w-full max-w-4xl xl:px-1">
        <div class="flex flex-col justify-center">
            <div class="text-xl text-center text-semibold text-gray-200">Algunos de los clientes que ponen su confianza en nuestro trabajo
                <span class="text-indigo-500 font-bold">+</span> 
            </div>
            <div class="flex flex-wrap justify-center gap-6 mt-10 md:justify-around">
                <div class="pt-2 text-gray-300">
                    <a href="https://www.fortacero.com/" target="_blank">
                        <img src="/Fortacero-logotipo2.png" alt="Fortacero" class="h-[170px] w-[270px] min-[768px]:w-[200px]">
                    </a>
                </div>
                <div class="text-gray-300">
                    <a href="https://papalotessteel.com/" target="_blank">
                        <img src="/Logo_papalotesSteel.png" alt="Papalotes Steel " class="filtro h-[170px] w-[230px] min-[768px]:w-[200px] text-gray-400">
                    </a>
                </div>
                <div class="text-gray-300">
                    <a href="https://www.arenasilicayfeldespato.com/" target="_blank">
                        <img src="/covia.png" alt="Covia" class="h-[160px] w-[210px] min-[768px]:w-[200px]">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>



<style>
    .back-one {
        background-image: linear-gradient(
        to left,
        rgba(65, 35, 77, 0.658),
        rgba(28, 11, 75, 0.596),
        rgba(22, 15, 36, 0.637)), 
        url("/carretera-x4.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
    }

    div a .filtro {
        filter: contrast(0.2);
    }
</style>

