<section class="bg-slate-700 dark:bg-slate-800">
    <div class="px-4 pt-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-1 min-[320px]:items-center min-[640px]:items-center">
        <div class="grid gap-10 row-gap-6 mb-8 sm:grid-cols-2 lg:grid-cols-4">
        <div class="sm:col-span-2">
            <a href="https://maps.app.goo.gl/QvELTfjhK2TrdRVJA" class="inline-flex items-center">
                <img src="/LOGO-AUTOFLETES.svg" alt="Logo Autofletes Franco" class="w-auto h-[50px] pl-1">
                </a>
            <span class="ml-2 text-xl font-bold tracking-wide text-gray-200 uppercase">Nuestra Compañía</span>
            </a>
            <div class="mt-6 lg:max-w-sm">
            <p class="text-sm text-gray-200">
                Somos una compañía especializada en el transporte de carga pesada para toda la república Mexicana.
            </p>
            <p class="mt-4 text-sm text-gray-200">
                Con una larga trayectoria y un equipo profesional, somos una opcion confiable para su carga.
            </p>
            </div>
        </div>
        <div class="space-y-4 lg:px-8 text-sm">
            <p class="text-base font-bold tracking-wide text-gray-100">Contactos</p>
            <div class="flex">
            <p class="mr-1 text-gray-100">Teléfono:</p>
            <a href="tel:+527767610630" aria-label="Our phone" title="Our phone" class="transition-colors hover:underline min-[320px]:underline duration-200 text-gray-300 hover:text-indigo-500">
                +52 776-761-0630</a>
            </div>
            <div class="flex">
            <p class="mr-1 text-gray-100">Email:</p>
            <a href="mailto:francocuevas2009@hotmail.com" aria-label="Our email" title="Our email" class="transition-colors duration-200 text-gray-300 hover:underline min-[320px]:underline hover:text-indigo-500">francocuevas2009@hotmail.com</a>
            </div>
            <div class="flex">
            <p class="mr-1 text-gray-100">Direccion:</p>
            <a href="https://maps.app.goo.gl/QvELTfjhK2TrdRVJA" target="_blank" rel="noopener noreferrer" aria-label="Our address" title="Our address" class="transition-colors duration-200 text-gray-300 hover:underline min-[320px]:underline hover:text-indigo-500">
                La Estación, Ahuazotepec, Pue. 73181
            </a>
            </div>
        </div>
            <p class="mt-4 text-sm text-gray-100">
            Siempre estamos dispuestos a ayudarte con nuestro servicio, ante cualquier situación.
            </p>
        </div>
        </div>
        <div class="flex flex-col-reverse justify-between pt-5 pb-10 border-t lg:flex-row lg:px-5 min-[320px]:items-center min-[640px]:items-center">
        <p class="text-sm text-gray-100">
            © Copyright 2024 Autofletes Franco. Todos los Derechos Reservados.
        </p>
        <p class="text-sm text-gray-100">
            Autofletes Franco S.A DE C.V | <span>Web desarrollada por: </span><a href="https://github.com/laloxox" target="_blank"><span class="transition-colors duration-300 text-green-500 hover:underline hover:text-green-400">Eduardo Rodríguez</span></a>
        </p>
        </div>
    </div>
</section>

