<div class="back-im h-[1200px] min-[230px]:h-[1470px] min-[250px]:h-[1460px] min-[300px]:h-[1400px] min-[320px]:h-[1380px] min-[768px]:h-[1250px] bg-slate-50 dark:bg-slate-800 py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-2xl px-4 md:px-8 sm:px-6 lg:px-8">
        <div class="mb-4 flex items-center justify-center gap-8 sm:mb-8 md:mb-12">
            <div class="flex items-center gap-12">
                <h2 class="text-3xl font-bold lg:text-3xl text-gray-800 dark:text-slate-100 transition">Galeria</h2>

                <p class="hidden text-2xl max-w-screen-sm text-indigo-400 md:block fade-in opacity-0 transform translate-y-10 transition-all duration-700">
                    Nuestras unidades cuentan con sistema de geolocalización en tiempo real.
                </p>
            </div>
        </div>

        <div class="grid grid-cols-2 min-[230px]:grid-cols-1 min-[250px]:grid-cols-1 min-[300px]:grid-cols-1 min-[320px]:grid-cols-1 min-[640px]:grid-cols-1 min-[768px]:grid-cols-3 gap-4 xl:gap-8 ">
            <!-- image - start -->
            <a href="#"
                class="group relative flex h-48 items-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-80">
                <img src="/camion1-optimizado.jpeg" loading="lazy" alt="Camion Keenworth Autofletes Franco" class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />

                <div
                    class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50">
                </div>

                <span class="relative ml-4 mb-3 inline-block text-sm text-white md:ml-5 md:text-lg">KW T-680</span>
            </a>
            <!-- image - end -->

            <!-- image - start -->
            <a href="#"
                class="group relative flex h-48 items-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:col-span-2 md:h-80">
                <img src="/camion2-optimizado.jpeg" loading="lazy" alt="Flota de Camiones Keenworth Autofletes Franco" class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />

                <div
                    class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50">
                </div>

                <span class="relative ml-4 mb-3 inline-block text-sm text-white md:ml-5 md:text-lg">Flota</span>
            </a>
            <!-- image - end -->

            <!-- image - start -->
            <a href="#"
                class="group relative flex h-48 items-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:col-span-2 md:h-80">
                <img src="/camion3-optimizado.jpeg" loading="lazy" alt="Camion Keenworth Autoflete Franco" class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />

                <div
                    class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50">
                </div>

                <span class="relative ml-4 mb-3 inline-block text-sm text-white md:ml-5 md:text-lg">Flota</span>
            </a>
            <!-- image - end -->

            <!-- image - start -->
            <a href="#"
                class="group relative flex h-48 items-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-80">
                <img src="/truck8-opt.jpeg" loading="lazy" alt="Flota de Camiones de Autofletes Franco" class="absolute inset-0 h-full w-full object-cover object-bottom transition duration-200 group-hover:scale-110" />

                <div
                    class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50">
                </div>

                <span class="relative ml-4 mb-3 inline-block text-sm text-white md:ml-5 md:text-lg">KW T-680 NextGen</span>
            </a>
            <!-- image - end -->
            
            <!-- image - start -->
            <a href="#"
                class="group relative flex h-48 items-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-80">
                <img src="/truck7-opt.jpeg" loading="lazy" alt="Camion Keenworth de Autofletes Franco" class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />

                <div
                    class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50">
                </div>

                <span class="relative ml-4 mb-3 inline-block text-sm text-white md:ml-5 md:text-lg">T-680 NG | T-800</span>
            </a>
            <!-- image - end -->

                <!-- image - start -->
                <a href="#"
                class="group relative flex h-48 items-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:col-span-2 md:h-80">
                <img src="/camion5-optimizado.jpeg" loading="lazy" alt="Flota de Camiones de Autofletes Franco" class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />

                <div
                    class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50">
                </div>

                <span class="relative ml-4 mb-3 inline-block text-sm text-white md:ml-5 md:text-lg">Flota</span>
            </a>
            <!-- image - end -->
            </div>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', () => {
        const revealContainers = document.querySelectorAll('.fade-in');

        const observer = new IntersectionObserver((entries) => {
            entries.forEach(entry => {
                if(entry.isIntersecting) {
                    entry.target.classList.remove('opacity-0', 'translate-y-10');
                    entry.target.classList.add('opacity-100', 'translate-y-0');
                }
            });
            }, {
                threshold: 0.1
            });
            revealContainers.forEach(container => {
                observer.observe(container);
            });
        });
</script>

<style>

</style>