<header class="max-w-[2000px] mx-auto sm:flex p-8 flex justify-between items-center bg-black">
    <img src="/LOGO-AUTOFLETES.svg" alt="Logo Autofletes Franco" class="w-auto h-[55px] pl-20">
    <a class="text-lg font-semibold bg-primary hover:saturate-150 transition rounded-lg p-8 py-3 px-7 block sm:w-auto w-full text-white" href="">
        Cotizar ahora
    </a>
</header>

