<div class="dark:bg-slate-700">
    <div x-data="{ open: false }" class="bg-slate-50 dark:bg-slate-800 transition">
        <section class="mx-auto max-w-screen-xl pb-8 px-4 p-9 h-[400px] items-center sm:py-15 lg:py-20 lg:flex md:px-9 min-[220px]:h-[1000px] min-[320px]:h-[900px] min-[640px]:h-[700px] min-[768px]:h-[780px] min-[1024px]:h-[550px]">
            <div class="flex-1 text-center mt-7 lg:mt-3 lg:ml-2 mr-1 min-[768px]:grid  min-[300px]:grid  min-[300px]:gap-3 min-[768px]:justify-items min-[1024px]:items-center sm:text-wrap sm:gap-4">
                <div class="flex-1 mt-7 lg:mt-3 lg:ml-3 md:ml-0 min-[320px]:gridn min-[300px]:justify-items-center min-[250px]:justify-items-center min-[230px]:justify-items-center min-[320px]:justify-items-center">
                    <img src="/mapx.png" class="w-[320px] h-[300px] md:w-50 md:leading-relaxed md:ml-2 sm:max-w-xl lg:max-w-screen-xl lg:px-1 md:px-25 sm:w-9/11 lg:w-full min-[320px]:w-[180px] min-[230px]:h-[120px] min-[230px]:w-[160px] min-[250px]:h-[130px] min-[250px]:w-[160px] min-[300px]:w-[170px] min-[320px]:h-[130px] min-[640px]:h-[190px] min-[640px]:w-[250px] min-[768px]:h-[200px] min-[768px]:w-[250px] min-[1024px]:h-[280px] min-[1280px]:h-[250px] min-[1280px]:w-[490px]" />
                </div>
                <span class="text-gray-400 dark:text-gray-50 max-w-xl leading-relaxed sm:mx-auto lg:ml-0 font-bold text-5xl xl:text-6xl sm:text-pretty sm:text-6xl md:text-6xl min-[320px]:text-6xl min-[300px]:text-6xl min-[230px]:text-6xl">+</span>
                <span class="text-gray-500 dark:text-gray-100 max-w-xl leading-relaxed sm:mx-auto lg:ml-0 font-bold text-5xl xl:text-5xl sm:text-pretty sm:text-5xl md:text-5xl min-[320px]:text-5xl min-[300px]:text-5xl min-[230px]:text-5xl">16 años</span>
                <span class="text-indigo-400 dark:text-indigo-500 max-w-xl leading-relaxed sm:mx-auto lg:ml-1 font-bold text-5xl xl:text-4xl sm:text-4xl md:text-4xl min-[320px]:text-4xl min-[300px]:text-4xl min-[230px]:text-4xl text-pretty align-text-bottom">de experiencia</span>
            </div>
            <div class="space-y-4 flex-1 sm:text-center lg:text-center ml-3 min-[230px]:text-center min-[250px]:text-center min-[230px]:mt-4 min-[300px]:mt-4 min-[320px]:text-center min-[768px]:grid min-[768px]:gap-2 min-[640px]:grid min-[640px]:gap-2">
                <h3 class="text-blue-950 dark:text-slate-100 font-bold text-4xl xl:text-4xl">
                    Transportes de carga a todo
                    <span class="text-indigo-400">México</span>
                </h3>
                <p class="text-gray-700 dark:text-gray-100 text-pretty max-w-xl leading-relaxed sm:mx-auto lg:ml-0">
                    Con muchos años de experiencia, nuestro equipo ofrece responsabilidad, dedicación y la capacidad necesaria para transportar sus cargas pesadas eficientemente a cualquier lugar de la republica Mexicana.
                </p>            
                <div class="pt-10 items-center justify-center space-y-3 sm:space-x-6 sm:space-y-0 sm:flex lg:justify-center flex gap-3 min-[320px]:gap-2 min-[320px]:space-y-2">
                    <a href="https://api.whatsapp.com/send/?phone=7761076024" class="">
                    <button class="bg-indigo-500 rounded-md shadow-md w-44 h-12 justify-center text-white transform transition-transform duration-300 hover:scale-110 hover:saturate-150 ">
                        <div class="flex gap-3 justify-center items-center">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve" class="w-5 h-5">
                                    <g id="WA_Logo">
                                        <g>
                                            <path style="fill-rule:evenodd;clip-rule:evenodd;" stroke-linecap="round" stroke-linejoin="round" d="M20.463,3.488C18.217,1.24,15.231,0.001,12.05,0    C5.495,0,0.16,5.334,0.157,11.892c-0.001,2.096,0.547,4.142,1.588,5.946L0.057,24l6.304-1.654    c1.737,0.948,3.693,1.447,5.683,1.448h0.005c6.554,0,11.89-5.335,11.893-11.893C23.944,8.724,22.708,5.735,20.463,3.488z     M12.05,21.785h-0.004c-1.774,0-3.513-0.477-5.031-1.378l-0.361-0.214l-3.741,0.981l0.999-3.648l-0.235-0.374    c-0.99-1.574-1.512-3.393-1.511-5.26c0.002-5.45,4.437-9.884,9.889-9.884c2.64,0,5.122,1.03,6.988,2.898    c1.866,1.869,2.893,4.352,2.892,6.993C21.932,17.351,17.498,21.785,12.05,21.785z M17.472,14.382    c-0.297-0.149-1.758-0.868-2.031-0.967c-0.272-0.099-0.47-0.149-0.669,0.148s-0.767,0.967-0.941,1.166    c-0.173,0.198-0.347,0.223-0.644,0.074c-0.297-0.149-1.255-0.462-2.39-1.475c-0.883-0.788-1.48-1.761-1.653-2.059    s-0.018-0.458,0.13-0.606c0.134-0.133,0.297-0.347,0.446-0.521C9.87,9.97,9.919,9.846,10.019,9.647    c0.099-0.198,0.05-0.372-0.025-0.521C9.919,8.978,9.325,7.515,9.078,6.92c-0.241-0.58-0.486-0.501-0.669-0.51    C8.236,6.401,8.038,6.4,7.839,6.4c-0.198,0-0.52,0.074-0.792,0.372c-0.272,0.298-1.04,1.017-1.04,2.479    c0,1.463,1.065,2.876,1.213,3.074c0.148,0.198,2.095,3.2,5.076,4.487c0.709,0.306,1.263,0.489,1.694,0.626    c0.712,0.226,1.36,0.194,1.872,0.118c0.571-0.085,1.758-0.719,2.006-1.413c0.248-0.694,0.248-1.29,0.173-1.413    C17.967,14.605,17.769,14.531,17.472,14.382z"/>
                                        </g>
                                    </g>
                                </svg>
                            </span>
                            <span class="text-md">Contáctanos</span>
                        </div>
                    </a>
                    </button>
                </div>
            </div>     
        </section>
    </div>
</div>



<style>
    section div .filtrox {
        
        
    }
</style>