<div x-data="{ open: false }" class="bg-slate-100">
    <section class="mx-auto max-w-screen-xl pb-8 px-4 p-9 h-[600px] items-center lg:flex md:px-9">
        <div class="flex-1 text-center mt-7 lg:mt-3 lg:ml-3">
            <img src="https://i.postimg.cc/HxHyt53c/undraw-heatmap-uyye.png" class="w-full mx-auto sm:w-9/11 lg:w-full" />
            <span class="text-gray-300 max-w-xl leading-relaxed sm:mx-auto lg:ml-0 font-bold text-5xl xl:text-6xl ">+</span>
            <span class="text-gray-400 max-w-xl leading-relaxed sm:mx-auto lg:ml-0 font-bold text-5xl xl:text-5xl">20 años</span>
            <span class="text-gray-500 max-w-xl leading-relaxed sm:mx-auto lg:ml-0 font-bold text-5xl xl:text-4xl text-pretty align-text-bottom">de experiencia</span>
        </div>
        <div class="space-y-4 flex-1 sm:text-center lg:text-center">
            <h3 class="text-blue-950 font-bold text-4xl xl:text-4xl">
                Transportes a todo
                <span class="text-indigo-400">Mexico</span>
            </h3>
            <p class="text-gray-700 text-pretty text-justify max-w-xl leading-relaxed sm:mx-auto lg:ml-0">
                Nuestro objetivo es ofrecer servicios de transporte especializados en fletes rápidos y seguros, Soluciones personalizadas para fletes industriales, urgentes y especiales, Confía en nosotros para entregar tu mercancía a tiempo.
            </p>
            
            <div class="pt-10 items-center justify-center space-y-3 sm:space-x-6 sm:space-y-0 sm:flex lg:justify-center">
                <a href="javascript:void(0)" class="px-7 py-3 w-full bg-primary text-white hover:saturate-150 text-center rounded-md shadow-md block sm:w-auto">
                    Contactanos
                </a>
            </div>
        </div>     
    </section>
</div>