<section class="back-prim py-12 bg-gray-800 text-gray-100 sm:py-12 lg:py-16">
        <div class="prim-div px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
            <div class="max-w-xl mx-auto text-center xl:max-w-2xl">
                <h3 class="text-3xl font-bold leading-tight text-gray-100 sm:text-4xl xl:text-5xl mb-6">Nuestros Servicios</h3>
                <h2 class="text-2xl font-semibold leading-tight text-gray-200"><span class="text-slate-200 dark:text-violet-300">Cargamos</span> | <span class="text-slate-200 dark:text-violet-300">Aseguramos</span> | <span class="text-slate-200 dark:text-violet-300">Entregamos</span></h2>   
            </div>
            <div
                class="grid max-w-4x2 lg:max-w-6xl grid-cols-1 mx-auto mt-8 text-center gap-y-5 sm:gap-x-9 sm:grid-cols-2 lg:grid-cols-4 sm:mt-12 lg:mt-20 sm:text-left">
                <div class="relative">
                    <div class="absolute -inset-1">
                        <div
                            class="w-full h-full rotate-180 opacity-30 blur-lg filter bg-gradient-to-r from-yellow-400 via-pink-500 to-green-600">
                        </div>
                    </div>
                    <div class="relative overflow-hidden bg-gray-100 dark:bg-slate-800 hover:contrast-75 transition shadow-md rounded-xl">
                        <div class="p-9">
                            <svg class="w-12 h-12 mx-auto sm:mx-0" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 12L11 14L15 10M12 3L13.9101 4.87147L16.5 4.20577L17.2184 6.78155L19.7942 7.5L19.1285 10.0899L21 12L19.1285 13.9101L19.7942 16.5L17.2184 17.2184L16.5 19.7942L13.9101 19.1285L12 21L10.0899 19.1285L7.5 19.7942L6.78155 17.2184L4.20577 16.5L4.87147 13.9101L3 12L4.87147 10.0899L4.20577 7.5L6.78155 6.78155L7.5 4.20577L10.0899 4.87147L12 3Z" stroke="#3C39E4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            <h3 class="mt-6 text-2xl font-bold text-gray-900 dark:text-gray-100 sm:mt-10">Cobertura Nacional</h3>
                            <p class="mt-6 text-base text-gray-600 dark:text-gray-200">Servicio de logistica y transporte de alto nivel, 
                                entregas a cualquier parte de la república con monitoreo constante.</p>
                        </div>
                    </div>
                </div>
                <div class="overflow-hidden bg-gray-100 dark:bg-slate-800 hover:contrast-75 transition shadow-md rounded-xl">
                    <div class="p-9">
                        <svg class="w-12 h-12 mx-auto sm:mx-0" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.06152 12C5.55362 8.05369 8.92001 5 12.9996 5C17.4179 5 20.9996 8.58172 20.9996 13C20.9996 17.4183 17.4179 21 12.9996 21H8M13 13V9M11 3H15M3 15H8M5 18H10" stroke="#3C39E4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        <h3 class="mt-6 text-2xl font-bold text-gray-900 dark:text-gray-100 sm:mt-10">Entregas a tiempo</h3>
                        <p class="mt-6 text-base text-gray-600 dark:text-gray-200">Carga Segura en tiempo y forma. Disponibilidad 24/7 para garantizar que tu carga llegue a su destino a tiempo</p>
                    </div>
                </div>
                <div class="relative">
                    <div class="absolute -inset-1">
                        <div
                            class="w-full h-full rotate-180 opacity-30 blur-lg filter bg-gradient-to-r from-yellow-400 via-pink-500 to-green-600">
                        </div>
                    </div>
                    <div class="relative overflow-hidden bg-gray-100 dark:bg-slate-800 hover:contrast-75 transition shadow-md rounded-xl h-full">
                        <div class="p-9">
                            <svg class="w-12 h-12 mx-auto sm:mx-0" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4 5C4 4.44772 4.44772 4 5 4H9C9.55228 4 10 4.44772 10 5V9C10 9.55228 9.55228 10 9 10H5C4.44772 10 4 9.55228 4 9V5Z" stroke="#3C39E4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M4 15C4 14.4477 4.44772 14 5 14H9C9.55228 14 10 14.4477 10 15V19C10 19.5523 9.55228 20 9 20H5C4.44772 20 4 19.5523 4 19V15Z" stroke="#3C39E4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M14 5C14 4.44772 14.4477 4 15 4H19C19.5523 4 20 4.44772 20 5V9C20 9.55228 19.5523 10 19 10H15C14.4477 10 14 9.55228 14 9V5Z" stroke="#3C39E4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M14 15C14 14.4477 14.4477 14 15 14H19C19.5523 14 20 14.4477 20 15V19C20 19.5523 19.5523 20 19 20H15C14.4477 20 14 19.5523 14 19V15Z" stroke="#3C39E4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            <h3 class="mt-6 text-2xl font-bold text-gray-900 dark:text-gray-100 sm:mt-10">Cargas Dedicadas</h3>
                            <p class="mt-6 text-base text-gray-600 dark:text-gray-200">Unidades exclusivas para garantizar un traslado eficiente y seguro.</p>
                        </div>
                    </div>
                </div>
                <div class="overflow-hidden bg-gray-100 dark:bg-slate-800 hover:contrast-75 transition shadow-md rounded-xl">
                    <div class="p-9">
                        <svg class="w-12 h-12 mx-auto sm:mx-0" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.9996 3L5.06859 12.6934C4.72703 13.1109 4.55625 13.3196 4.55471 13.4956C4.55336 13.6486 4.62218 13.7939 4.74148 13.8897C4.87867 14 5.14837 14 5.68776 14H11.9996L10.9996 21L18.9305 11.3066C19.2721 10.8891 19.4429 10.6804 19.4444 10.5044C19.4458 10.3514 19.377 10.2061 19.2577 10.1103C19.1205 10 18.8508 10 18.3114 10H11.9996L12.9996 3Z" stroke="#3C39E4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        <h3 class="mt-6 text-2xl font-bold text-gray-900 dark:text-gray-100 sm:mt-10">Fletes Urgentes</h3>
                        <p class="mt-6 text-base text-gray-600 dark:text-gray-200">Soluciones rápidas para entregas prioritarias en todo el país.</p>
                    </div>
                </div>
        </div>
        <div class="pt-10 items-center justify-center space-y-3 sm:space-x-6 sm:space-y-0 sm:flex lg:justify-center flex gap-3">
            <button class="bg-indigo-500 dark:bg-indigo-800 rounded-md shadow-md w-44 h-12 justify-center text-white transform transition-transform duration-300 hover:scale-110 hover:saturate-150 ">
                <a href="https://api.whatsapp.com/send/?phone=7761076024" class="">
                <div class="flex gap-3 justify-center items-center">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve" class="w-5 h-5">
                            <g id="WA_Logo">
                                <g>
                                    <path style="fill-rule:evenodd;clip-rule:evenodd;" stroke-linecap="round" stroke-linejoin="round" d="M20.463,3.488C18.217,1.24,15.231,0.001,12.05,0    C5.495,0,0.16,5.334,0.157,11.892c-0.001,2.096,0.547,4.142,1.588,5.946L0.057,24l6.304-1.654    c1.737,0.948,3.693,1.447,5.683,1.448h0.005c6.554,0,11.89-5.335,11.893-11.893C23.944,8.724,22.708,5.735,20.463,3.488z     M12.05,21.785h-0.004c-1.774,0-3.513-0.477-5.031-1.378l-0.361-0.214l-3.741,0.981l0.999-3.648l-0.235-0.374    c-0.99-1.574-1.512-3.393-1.511-5.26c0.002-5.45,4.437-9.884,9.889-9.884c2.64,0,5.122,1.03,6.988,2.898    c1.866,1.869,2.893,4.352,2.892,6.993C21.932,17.351,17.498,21.785,12.05,21.785z M17.472,14.382    c-0.297-0.149-1.758-0.868-2.031-0.967c-0.272-0.099-0.47-0.149-0.669,0.148s-0.767,0.967-0.941,1.166    c-0.173,0.198-0.347,0.223-0.644,0.074c-0.297-0.149-1.255-0.462-2.39-1.475c-0.883-0.788-1.48-1.761-1.653-2.059    s-0.018-0.458,0.13-0.606c0.134-0.133,0.297-0.347,0.446-0.521C9.87,9.97,9.919,9.846,10.019,9.647    c0.099-0.198,0.05-0.372-0.025-0.521C9.919,8.978,9.325,7.515,9.078,6.92c-0.241-0.58-0.486-0.501-0.669-0.51    C8.236,6.401,8.038,6.4,7.839,6.4c-0.198,0-0.52,0.074-0.792,0.372c-0.272,0.298-1.04,1.017-1.04,2.479    c0,1.463,1.065,2.876,1.213,3.074c0.148,0.198,2.095,3.2,5.076,4.487c0.709,0.306,1.263,0.489,1.694,0.626    c0.712,0.226,1.36,0.194,1.872,0.118c0.571-0.085,1.758-0.719,2.006-1.413c0.248-0.694,0.248-1.29,0.173-1.413    C17.967,14.605,17.769,14.531,17.472,14.382z"/>
                                </g>
                            </g>
                        </svg>
                    </span>
                    <span class="text-md">Contactanos</span>
                </div>
                </a>
            </button>
        </div>
    </section>


<style>
    .back-prim {
        background-image: linear-gradient(
        to right,
        rgba(46, 30, 53, 0.664),
        rgba(28, 11, 75, 0.5),
        rgba(22, 15, 36, 0.5)
        ), url("/carretera-x5.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
        z-index: -1;
    }

    .prim-div {
        z-index: 1;
        filter: none;
    }
</style>